root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# TypeScript / JavaScript
[*.{ts,tsx,js,mjs,cjs}]
indent_size = 2
quote_type = single

# JSON / YAML
[*.{json,yml,yaml}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Makefile
[Makefile]
indent_style = tab

# Docker / Env files
[Dockerfile]
indent_size = 2

[*.env]
indent_size = 2
