name: Docker Image Release CI

on:
  release:
    types:
      - published

jobs:
  build:
    name: Build and push Docker images
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          ref: master
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          version: latest

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ github.repository_owner }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GIT_TOKEN }}

      - name: Build and push to Docker Hub and GitHub Container Registry
        run: |
          docker buildx create --use
          docker buildx build --platform linux/arm/v7,linux/arm64 -t ${{ github.repository_owner }}/argonone:${{ github.ref_name }} -t ${{ github.repository_owner }}/argonone:latest -t ghcr.io/${{ github.repository }}:${{ github.ref_name }} -t ghcr.io/${{ github.repository }}:latest . --push
